name: Publish to Github

on: 
  push:
    branches: 
      - master
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Publish
      env: 
        GPR_USER: ${{ secrets.GPR_USER }}
        GPR_API_KEY: ${{ secrets.GITHUB_TOKEN }}
      run: ./gradlew publish --info
